body {
  margin: 0;
  font-family:/*  -apple-system, BlinkMacSystemFont,"Sofia", "Audiowide",'Lucida Handwriting','Brush Script MT', */'Courier New','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-shadow: 3px 3px 3px #ababab;
  font-size: 15px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* changed */
* {
  box-sizing: border-box;
}