.Layout{
    margin-top: 0px;
    display: flex;
    flex-flow: column wrap;
    /* background-color: blueviolet; */
/*    
    width:80%;
    float:left; */
    max-width:99.9%;

}
/* 
@media only screen and (max-width: 900px) {
    .Layout{ 
        position: fixed;
        top:0;
        left:180px;        
    } 
    }
    @media only screen and (max-width: 600px) {
        .Layout{
            position: fixed;
        top:0;
        left:150px; 
        width:80%;
            
        } 
        }
       */